<%= form.error_messages %>

<%= form.hidden_field :idea_id, :value => @idea.id %>
<p>
  <%= form.label :sparql %><br />
  <%= form.text_area :sparql %>
</p>
<p>
  <%= form.label :template %><br />
  <%= form.text_field :template %>
</p>
<p>
  <%= form.label :endpoint %><br />
  <%= form.select(:endpoint_id, Endpoint.all.collect {|p| [ p.title, p.id ] }) %>
</p>

