<h1><%=h @query.title %></h1>
<p>
  <b>Sparql:</b>
  <pre><%=h @query.sparql %></pre>
</p>

<p>
  <b>Template:</b>
  <pre><%=h @query.template %></pre>
</p>

<%= link_to 'Edit', edit_idea_canned_query_path(@idea, @query) %> |
<%= link_to 'Back', idea_path(@idea) %>